#

PREFIX=/vol/biodb/local_databases/MGX/

PATH=/vol/mgx-sw/bin:$PATH
export PATH

OS=`uname -o`

domainname=`dnsdomainname`

GROUP=mgx

if [ 'x' != 'x'$domainname ]; then
    if [ $domainname = "computational.bio.uni-giessen.de" ]; then
        GROUP=mgx
    fi
else 
    GROUP=mgxserv
fi

THREADS=4

# EOF
